/* Write your CSS here */
.li-con {
  display: flex;
  flex-direction: column;
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
}

.li-inner-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Roboto';
  color: #171f46;
  font-weight: bold;
}

.date {
  font-family: 'Roboto';
  color: #b5b7c4;
}

.star-img-btn {
  background-color: transparent;
  border: 0px;
}
